.grid {
	--grid-max-content-width: 100%;

	display: grid;
	grid-column-gap: var(--grid-gutter-size, 20px);
	grid-template-rows: auto;
	grid-template-columns: [wrapper-start] minmax(calc(var(--grid-margin-size, 40px) - var(--grid-gutter-size, 20px)), 1fr) [start] repeat(var(--grid-number-of-columns, 12), minmax(0, calc(var(--grid-max-content-width) / var(--grid-number-of-columns, 12) - var(--grid-gutter-size, 20px) * (var(--grid-number-of-columns, 12) - 1) / var(--grid-number-of-columns, 12)))) [end] minmax(calc(var(--grid-margin-size, 40px) - var(--grid-gutter-size, 20px)), 1fr) [wrapper-end];
	width: 100%;
}

.font-giant-title {
	font-weight: 300;
	font-size: 13vw;
	font-family: var(--sans-serif);
	line-height: 115%;
}

.subgrid {
	display: grid;
	grid-column: start / end;
	grid-column-gap: var(--grid-gutter-size, 20px);
	grid-template-rows: auto;
	grid-template-columns: [start] repeat(var(--grid-number-of-columns, 12), minmax(0, calc(var(--grid-max-content-width) / var(--grid-number-of-columns, 12) - var(--grid-gutter-size, 20px) * (var(--grid-number-of-columns, 12) - 1) / var(--grid-number-of-columns, 12)))) [end];
	width: 100%;
}

.font-big-title-0 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 14.583vw; // In Figma the artboard is 1440px wide and the font size is 210px. Therefore if 1440px is equivalent to 100vw, 210px is 14.583vw.
	font-family: var(--serif);
	line-height: 0.73;
	letter-spacing: -0.07em;
}

.font-title-1 {
	font-weight: 700;
	font-size: 52px;
	font-family: var(--sans-serif);
	line-height: 115%;
	letter-spacing: -0.05em;
	@include mobile() {
		font-size: 23px;
		line-height: 30px;
		letter-spacing: -0.03em;
	}
}

.font-title-2 {
	font-weight: 300;
	font-size: 52px;
	font-family: var(--sans-serif);
	line-height: 115%;
	letter-spacing: -0.04em;
}

.font-title-3 {
	font-weight: 400;
	font-size: 60px;
	font-family: var(--serif);
	line-height: 100%;
	letter-spacing: -0.05em;
	@include mobile() {
		font-size: 27px;
		line-height: 30px;
	}
}

.font-title-4 {
	font-weight: 300;
	font-size: 52px;
	font-family: var(--sans-serif);
	line-height: 1.15em;
	letter-spacing: -0.04em;
	@include tablet() {
		font-size: 23px;
		line-height: 1.3em;
		letter-spacing: -0.03em;
	}
	@include mobile() {
		font-size: 23px;
		line-height: 1.3em;
		letter-spacing: -0.03em;
	}
}

.font-subtitle {
	font-weight: 700;
	font-size: 23px;
	font-family: var(--sans-serif);
	line-height: 130%;
	letter-spacing: -0.03em;
}

.font-subtitle-2 {
	font-weight: 700;
	font-size: 23px;
	font-family: var(--sans-serif);
	line-height: 130%;
	letter-spacing: -0.03em;
	@include below('tablet') {
		font-size: 16px;
		line-height: 120%;
		letter-spacing: -0.02em;
	}
}

.font-text-menu {
	font-weight: 300;
	font-size: 23px;
	font-family: var(--sans-serif);
	line-height: 130%;
	letter-spacing: -0.03em;
}

.font-text-1 {
	font-weight: 300;
	font-size: 23px;
	font-family: var(--sans-serif);
	line-height: 130%;
	letter-spacing: -0.02em;
	@include mobile() {
		font-weight: 300;
		font-size: 16px;
		font-family: var(--sans-serif);
		line-height: 125%;
		letter-spacing: 0.01em;
	}
}

.font-text-2 {
	font-weight: normal;
	font-size: 27px;
	font-family: var(--serif);
	line-height: 111%;
	letter-spacing: -0.04em;
}

.font-smalltext-1 {
	font-weight: 300;
	font-size: 16px;
	font-family: var(--sans-serif);
	line-height: 125%;
	letter-spacing: 0.01em;
}

.font-caption {
	font-weight: normal;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	line-height: 143%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-underline-offset: 0.08em;

	@media (max-width: 360px) {
		font-size: 12px;
	}
}

.black-underline-with-opacity {
	text-decoration-line: underline;
	text-underline-offset: 0.08em;
	text-decoration-thickness: 1px;
	text-decoration-color: #000c;
}

.white-underline-with-opacity {
	text-decoration-line: underline;
	text-underline-offset: 0.08em;
	text-decoration-thickness: 1px;
	text-decoration-color: #fffc;
}

.font-menu {
	composes: font-text-1;
	@include mobile() {
		font-weight: normal !important;
		font-size: 60px !important;
		font-family: var(--serif) !important;
		font-style: normal !important;
		line-height: 1em !important;
		letter-spacing: -0.05em !important;
		text-decoration-line: underline !important;
	}
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tag {
	composes: font-caption;
	display: flex;
	align-items: center;
	max-height: 2.28em;
	margin-right: 1.1em;
	margin-bottom: 1.1em;
	padding: 0.43em 0.86em;
	white-space: nowrap;
	text-transform: uppercase;
	border: solid 1px var(--secondary);
	border-radius: 0.71em;
	cursor: pointer;
	opacity: 0.5;

	&:hover,
	&.isTagActive {
		opacity: 1;
	}

	&.isTagActive {
		color: var(--primary);
		background-color: var(--secondary);
	}
}
