:root {
	--grid-number-of-columns: 12;
	--grid-margin-size: 20px;
	--grid-gutter-size: 20px;
	--primary: #000;
	--primary-rgb: 0, 0, 0;
	--secondary: #fff;
	--error: rgb(250, 0, 0);
	--secondary-rgb: 255, 255, 255;
	--serif: 'Times New Roman', serif;
	--sans-serif: 'Helvetica', sans-serif;
	--spacing-1: 10px;
	--spacing-2: 20px;
	--spacing-3: 30px;
	--spacing-4: 60px;
	--spacing-5: 120px;
	--spacing-5-5: 180px;
	--spacing-6: 240px;

	@include mobile {
		--grid-number-of-columns: 4;
	}
}
