// Font loading

/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com */

@font-face {
	font-weight: 300;
	font-family: 'Helvetica';
	src: url('fonts/1489424/37953885-0443-4c72-a693-9152a9f5a901.woff2') format('woff2'),url('fonts/1489424/fcce277c-07e2-4c88-ad8b-a71b484e2cbe.woff') format('woff');
}
@font-face {
	font-weight: 700;
	font-family: 'Helvetica';
	src: url('fonts/1489452/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2') format('woff2'),url('fonts/1489452/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff') format('woff');
}
